@import url(../css/geral.css);

.card {
    opacity: 1;
    box-shadow: 0px 0px 120px var(--Silver);
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    text-align: left;
    height: 400px;
    background-color: var(--White);
    border: 2px solid var(--D_grey);

}

header{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Primary);
    width: 100%;
    height:200px;
}

body {
    font-family: Arial, sans-serif;
    background: #ececec;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    font-size:30px;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
}

.botoes button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Whitelabel);
    border-radius: 10px;
}
.botoes button:hover{
    transform: translateY(10px);
}

.excluir button{
    background-color: var(--Error);
}