@import url(geral.css);

*{
    padding: 0;
}
.cabecalho{
    display: flex;
    align-items: center;
}
.cabecalho img{
    width: 25%;
    height: auto;
}
#nomeplataforma{
    width: 75%;
    height: 50px;
}
header{
    width:100% ;
    height: 30px;
    padding: 10px;
}
body{
    background: var(--White);
    background-size: cover;           /* cobre toda a tela */
    background-repeat: no-repeat;     /* não repete */
    background-position: center;      /* centraliza */
    background-attachment: fixed;     /* fixa a imagem ao rolar */
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 750px;
        margin-top: 50px;
    }
    .container{
        background-color: var(--L_Grey);
        padding: 30px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 400px;
        height: 650px;
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container h2{
        font-size: 32px;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        color: var(--Black);
        margin-left: 10px;
    }
    form{
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: Arial, Helvetica, sans-serif
    }
    #enviar{
        margin-top: 40px;
        cursor: pointer;
        height: 40px;
        width: 150px;
        background: #4DAAD6;
        border-radius: 10px;
        color: var(--Whitelabel);
        border: 0;
        font-size: 18px;
        font-weight:bold ;
        transition: transform 0.5s ease;
    }
    #enviar:hover{
        transform: scale(1.03);
        background-color: #21365E;
    }
    .cadastreseagora{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }
    .cadastreseagora p{
        color: var(--Whitelabel);
    }
    .cadastreseagora a{
        color: var(--Tint4);
    }
    .bloco{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: start;
        gap: 10px;
        margin-top: 20px;
        font-weight: bold;
        color: var(--Whitelabel);
        font-family: Arial, Helvetica, sans-serif;
    
    }
    .bloco input{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: none;
        padding-left: 10px;
        background-color: var(--Whitelabel);
    }
    .bloco input::placeholder{
        font-size: 10px;
    }
    .inputsenha{
        display: flex;
        align-items: center ;
    }
    #senha {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #confirmarsenha{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .revelar-senha.ativo{
        background-color:#21365E;
    }
    .revelar-senha{
        background-color: #4DAAD6;
        border: none;
        border-radius: 20%;
        width: 40px;
        height: 42px;
        cursor: pointer;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        transition: all 0.1s ease ;
    }
#tipo {
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    background-color: var(--Whitelabel); 
    padding: 10px;
    border-radius: 8px; 
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: var(--Blacklabel);
}

/* Para cada opção do select */
#tipo option {
    padding: 8px 12px;
    background-color: var(--Whitelabel);
    color: var(--Blacklabel);
    cursor: pointer;
    transition: all 0.5s ease;
}

.alert {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #21365E;
    border: 1px outset #4DAAD6;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.alert-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: top;
}

.alert button {
    background-color: #4DAAD6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.alert button:hover {
    background-color: #357fa3;
}
.infos{
    width: 60%;
    height: 650px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--Silver);
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    border: solid 1px var(--L_Grey);
}
.linha img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 2px solid var(--Primary);
}
.infos-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.linha{
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 60px;
}
footer img{
    height: auto;
    width: 70px;
    margin-left: 30px;
}