@import url('./global.css');
body{
    background: var(--White);
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    background-color: var(--White);  
    width: 100%;
    border-bottom: 2px solid var(--Silver);
}
.content-hero-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 416.95px;
    background-color:var(--Silver);
}
.content-hero-section img{
    width: 300px;
    height: auto;
}
.content-hero{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-hero h1 {
  font-size: var(--font-headline-1-size);
  display: inline-block; /* Necessário para a animação de width funcionar */
  overflow: hidden; /* Esconde o texto enquanto está sendo "digitado" */
  white-space: nowrap; /* Evita quebras de linha */
  border-right: 3px solid var(--Black); /* Simula o cursor de digitação */
  width: 0; /* Inicia com o texto oculto */
  animation: digitar 4s steps(30) 1s forwards; /* Efeito de digitação */
  color: var(--Black);
}

.content-hero h1::after {
  content: ''; /* Criar o "cursor" piscando */
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: var(--Black);
  animation: piscar 0.8s step-end infinite; /* Efeito de piscar */
}

.content-hero p{
    font-size: 14px;
    color: var(--Grey);
}
.our-clients{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 132.92px;
    padding: 20px;
    margin-top: 40px;
    height: 200px;
}
.content-our-clients{
    margin-bottom: 50px;
}
.content-our-clients h2{
    color: var(--D_grey);
    margin-bottom: 10px;
    font-size: var(--font-headline-2-size);
}
.content-our-clients p{
    font-size: 15px;
    color: var(--Grey);
}
.container-logo-clients{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}
.container-logo-clients img{
    width: 70px;
    height: auto;
    transition: 0.5s ease;
}
.container-logo-clients img:hover{
    transform: scale(1.10);
}
.manage{
    margin-top: 50px;
    width: 100%;
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.manage h2{
    color: var(--D_grey);
    margin-bottom: 10px;
    font-size: var(--font-headline-2-size);
    text-align: center;
}
.manage p{
    font-size: 15px;
    color: var(--Grey);
}
.topo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-manage{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bloco{
    width: 20%;
    height: 340px;
    border: 1px solid var(--Silver);
    border-radius: 5px;
    box-shadow: 0px 0px 120px var(--Silver);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    transition: 0.3s ease;
    background-color: var(--White);
}
.bloco:hover{
    transform: scale(1.07);
}
.bloco img{
    width: 70px;
    height: auto;
}
.bloco h2{
    font-size: 28px;
}
.bloco p{
    font-size: 15px;
    text-align: center;
    color: var(--Black);
}
.unseen{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.unseen img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    border: solid 3px var(--Primary);
}
.unseen-content{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.helping{
    width: 100%;
    height: 350px;
    margin-top: 80px;
    background-color: var(--Silver);
    display: flex;
    align-items:center ;
    justify-content: center;
}
.helping-content{
    width: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.helping-content h2{
    font-size: 50px;
}
.helping-content span{
    color: var(--Primary);
}
.helping-content p{
    text-align: left;
}
.container-helping{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.linha{
    width: 100%;
    height: 50%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}
.helping-bloco{
    display: flex;
    gap: 20px;
}
.helping-bloco img{
    width: 50px;
    height: auto;
}
.equipe{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
}
.equipe h2{
    font-size: 50px;
}
.equipe-container{
    width: 90%;
    height: 700px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.integrante{
    width: 23%;
    height: 100%;
    border: 1px solid var(--Silver);
    box-shadow: 0px 0px 120px var(--Silver);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.integrante:hover{
    transform: scale(1.05);
    background-color: var(--Silver);
}
.integrante:hover .integrante-img img{
    transform: translateY(-30px);
}
.integrante:hover .integrante-content{
    transform: translateY(-20px);
}
.integrante-img{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.integrante-img img{
    width:230px;
    height:230px;
    border-radius: 100%;
    border: 5px solid var(--Primary);
    transition: 0.5s ease;
}
.integrante-content{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s ease;
}
.integrante-content-redes{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.integrante-content-redes img{
    width: 25px;
    height: auto;
}
.integrante-content-redes a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-size: 17px;
    color: var(--Link);
    transition: all 0.3s ease;
}
.integrante-content-redes a:hover{
    transform: translateX(10px);
    text-decoration: underline;
}
footer{
    width: 100%;
    height: 500px;
    background-color: var(--Secundary);
    display: flex;
    align-items: center;
    justify-content: center;
}