*{
    margin: 0;
    padding: 0;
}
body{
    background: #ffffff;
    background-image: url(../images/escola.png);
    background-size: cover;           /* cobre toda a tela */
    background-repeat: no-repeat;     /* não repete */
    background-position: center;      /* centraliza */
    background-attachment: fixed;     /* fixa a imagem ao rolar */
}
nav{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(8px);
    border-bottom: #000000 inset 1px;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 40px;
}
.logo{
    width: 330px;
}
.sair p{
    font-size: 20px;
    color: rgb(252, 89, 89);
    font-family: Arial, Helvetica, sans-serif;
}
.sair{
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}
.sair button{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 89, 89);
}
#sair img{
    width: 50%;
    height: 50%;
    padding-left: 3px;
}
nav img{
    width: 50px;
    height: 50px;
}
span{
    font-weight: bold;
    color: black;
}
.ola{
    margin-right: 60px;
}
.ola p{
    color: rgb(139, 139, 139);
    text-align: left;
}
#nomeplataforma{
    width: 310px;
    margin-left: 20px;
}
main{
    display: flex;
    align-items: center;
    height:800px;
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco{
    border-radius: 10px;
    background: #dddddda8;
    border: solid 4px #21365E;
    backdrop-filter: blur(8px);
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.bloco:hover{
    transform: scale(1.03);
    border: solid 4px #4DAAD6;
}
.bloco:hover .titulo {
    background-color: #4DAAD6;
    font-size: bold;
}
.criar{
    border-radius: 10px;
    width: 90%;
    height: 300px;
    display: flex;
    background-color: #21365E;
    border: solid 4px #21365E;
}
.titulopublicar{
    background-color: #21365E;
    width: auto;
    height: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.titulopublicar h2{
    font-size: 35px;
    text-align: center;
}
.titulo{
    background-color: #21365E;
    width: auto;
    height: 50px;
    padding-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.20s ease;
}
.titulo h2{
    margin-top: 10px;
}
.conteudo{
    padding: 10px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.criar{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}
.publicar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 270px;
}
.publicar input{
    width: 1000px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
}
.publicar textarea{
    width: 1000px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    resize: none;
    display: flex;
    justify-content: flex-start;
}
.publicar button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #0b3d0b;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.Publicar-conteudo input{
    height: 100px; 
}
.Publicar-titulo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.Publicar-conteudo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
form button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #4DAAD6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.5s ease;
    font-weight: bold;
}
form button:hover{
    transform: scale(1.08);
    background-color: #215e35;
}
#bemvindo{
    border-radius: 10px;
    background: #21365E;
    border: solid 4px #21365E;
    backdrop-filter: blur(8px);
    width: 90%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
footer{
    width: 100%;
    height: 100px;
    margin-top: 80px;
    background-color: #21365E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: auto;
    height: auto;
}
.logo img{
    width: 60px;
    height: 60px;
}