*{
    margin: 0;
    padding: 0;
}
body{
    background: #ffffff;
    background-image: url(../images/escola.png);
    background-size: cover;           /* cobre toda a tela */
    background-repeat: no-repeat;     /* não repete */
    background-position: center;      /* centraliza */
    background-attachment: fixed;     /* fixa a imagem ao rolar */
}
.navbar{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(8px);
    border-bottom: #000000 inset 1px;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 40px;
}
.logo{
    width: 330px;
}
.sair p{
    font-size: 20px;
    color: rgb(252, 89, 89);
    font-family: Arial, Helvetica, sans-serif;
}
.sair{
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}
.sair button{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 89, 89);
}
#sair img{
    width: 50%;
    height: 50%;
    padding-left: 3px;
}
nav img{
    width: 50px;
    height: 50px;
}
span{
    font-weight: bold;
    color: black;
}
.ola{
    margin-right: 60px;
}
.ola p{
    color: rgb(139, 139, 139);
    text-align: left;
}
#nomeplataforma{
    width: 310px;
    margin-left: 20px;
}
.logo{
    width: auto;
    height: auto;
}
.logo img{
    width: 60px;
    height: 60px;
}
main{
   width: 100%;
   height: 900px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.menu{
    width: 20%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.719);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dev{

    width: 100%;
    height: auto;
    display: flex;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.dev img{
    height: auto;
    width: 55px;
    margin-top: 6px;
}
.leftbar{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.leftbar ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}
#p{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.leftbar a{
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 3px solid #21365E;
}
.leftbar a:hover .leftbar li{
    font-size:35px ;
} 
.leftbar li{
    text-align: center;
    font-size: 30px;
}
.container{
    width: 70%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.452);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    margin-right: 40px;
    align-items: center;
}
.editar img{
    width: auto;
    height:35px;
}
.topbar{
    width: 100%;
    height: 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid #21365E;
    display: flex;
    align-items: center;
}
.editar button{
    width: auto;
    height: auto;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 40px;
    gap: 10px;
    transition: transform 0.20s ease;
}
.editar button:hover{
        transform: scale(1.11);
}
#add p{
    color: rgb(2, 202, 2);
}
.editar button p{
    color: rgb(187, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.linha{
    width: 90%;
    height: 50%;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.atividade{
    width: 47%;
    height: 90%;
    background: #dddddda8;
    border: solid 4px #21365E;
    backdrop-filter: blur(8px);
    transition: transform 0.7s ease;
    cursor: pointer;
    border-radius: 20px;
}
.atividade:hover{
    transform: scale(1.07);
    border: solid 4px #4DAAD6;
}
.atividade:hover .titulo {
    background-color: #4DAAD6;
    font-size: bold;
}
.titulo{
    background-color: #21365E;
    width: auto;
    height: 100px;
    padding-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.20s ease;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
footer{
    width: 100%;
    height: 500px;
    background: #21365E;
    display: flex;
    flex-direction: row;
    border-top: 1px solid white;
}
.mapa{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.mapa iframe{
    width: 70%;
    height: 70%;
    border: none;
    border-radius: 20px;
}
.info{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.info img{
    width: auto;
    height: 70px;
}
.imagens{
    background-color: white;
    height: 70px;
    margin-top: 30px;
}