*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1.2s ease;
}
/* define variaveis CSS globais */
:root{
    /* Neutral */
    --Black:#263238;
    --D_grey:#4D4D4D;
    --Grey:#717171;
    --L_Grey:#89939E;
    --Grey-Blue:#ABBED1;
    --Silver:#F5F7FA;
    --White: #ffffff;
    --Whitelabel:#ffffff;
    --Shadow:#F5F7FA;
    --Link: blue;
    --editar:#007bff;
    --editarlabel:#007bff;
    --placeholder:#000000be;
    --placeholderlabel:#000000be;
    --Blacklabel: black;
    --Checked:#2cfd2c;
    /* Primary */
    --Primary:#4DAAD6;
    --Secundary:#21365E;
    --Info:#2194f3;
    --D_grey2:#4D4D4D;
    /* Color Shade */
    --Shade1:#43A046;
    --Shade2:#388E3B;
    --Shade3:#237D31;
    --Shade4:#1B5E1F;
    --Shade:#103E13;
    /* Color Tint */
    --Tint1:#66BB69;
    --Tint2:#81C784;
    --Tint3:#A5D6A7;
    --Tint4:#C8E6C9;
    --Tint5:#E8F5E9;
    /* Action */
    --Warning:#FBC02D;
    --Error:#E53835;
    --Sucess:#2E7D31;
    /* Configuração de Fontes */
    --font-family:"Inter";
    --font-headline-1-size:64px;
    --font-headline-2-size:36px;
    --font-headline-weight:600;
    --font-headline-4-size:20px;
    --font-body2-height-regular:400;
    --font-body3-size:14px;
}
body.dark-mode {
    --White: #242424;
    --Black: #ffffff;
    --L_Grey: #a5a5a5;
    --Silver: #383838;
    --Tint4: #8ACCFF;
    --Primary: #6AB3FF;
    --Grey:#d8d8d8;
    --D_grey:#ffffff;
    --Shadow:#575757;
    --Link:rgb(0, 183, 255);
    --editar: #ffffff;
    --placeholder:#ffffffbe;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: var(--White);
    width: 100%;
    border-bottom: 2px solid var(--Silver);
    user-select: none;
}
a{
    text-decoration:none ;
}
p{
    color: var(--Grey);
}
h2{
    color: var(--D_grey);
    font-size: var(--font-headline-2-size);
    font-weight: var(--font-headline-weight);
}
h3{
    color: var(--D_grey);
    font-size: var(--font-headline-2-size);
    font-weight: var(--font-headline-weight);
}
span{
    color: var(--Primary);
}
.logo-header img{
    width: 154px;
    height: auto;
}
.nav-header ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-header ul li a{
    color: var(--Black);
    font-weight: var(--font-body2-height-regular);
    transition: 0.3s;
}
.nav-header ul li a:hover{
    color: var(--Primary);
    text-decoration: underline;
}
.container-btn-header{
    gap: 5px;

}
.container-btn-header button{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.7s;
}

.container-btn-header button:hover{
     transform: scale(1.07);
}

.container-btn-header .btn-login{
    background-color: var(--Silver);
    border: 1px solid #4d4d4d65;
}
.container-btn-header .btn-login a{
    color: var(--Primary);
}
.container-btn-header .btn-sign-up a{
    color: var(--Whitelabel);
}
.container-btn-header .btn-sign-up{
    background-color: var(--Primary);
    color: var(--White);
}
.btn-primary{
    width: 150px ;
    height: 50px;
    font-size: 11.14px;
    border-radius: 5px;
    background-color: var(--Primary);
    transition: ease 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn-primary img{
    width: 20px;
    height: 20px;
}
.btn-primary:hover{
    transform: translateX(20px);
}
.btn-primary a{
    color: var(--Whitelabel);
    font-size: var(--font-body3-size)
}
.buttons{
    display: flex;
    gap: 20px;
}
.navegation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
}
.navegation img{
    width: 25px;
    height: auto;
}
.navegation a{
    transition:all ease 0.5s;
    color: var(--Black);
}
.dark-mode-button{
    background-color: var(--White);
    width: auto;
    height: auto;
}
.dark-mode-button img{
    width: 30px;
    height: auto;
    cursor: pointer;
}
.dark-theme-img {
    display: none;
}

/* Quando o tema escuro for ativado, mostrar a imagem do tema escuro */
body.dark-mode .dark-theme-img {
    display: block;
}

/* Quando o tema escuro for ativado, esconder a imagem do tema claro */
body.dark-mode .light-theme-img {
    display: none;
}

/* Se não estiver em modo escuro, a imagem do tema claro deve ser visível */
body:not(.dark-mode) .light-theme-img {
    display: block;
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.5s ease;
}
/* Quando aparece na tela */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
@keyframes piscar {
  50% {
    background-color: transparent;
  }
}
@keyframes digitar {
  0% {
    width: 0; /* Começa com o texto invisível */
  }
  100% {
    width: 100%; /* Texto vai aparecendo aos poucos */
  }
}

.loader {
  width: 50px;
  height: 50px;
  border: 6px solid var(--Silver); /* cor de fundo do arco */
  border-top: 6px solid var(--Primary); /* cor da parte que gira */
  border-radius: 50%; /* deixa redondo */
  animation: spin 1s linear infinite;
  margin: 40px auto; /* centraliza */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

